body{background-color: aquamarine;}
h1{background-color: pink;}
h2{background-color: purple;}
p{background-color: rgb(20, 177, 216);}
ol{list-style-type: upper-roman;}
ul{list-style-type: circle;}